<h1 class='center'>Films</h1>
  <div class='container'>
    <div class="row">
     
    <div *ngFor='let film of filmList' class="col s6 m4">
      <div class="card horizontal"  pkmn-border-card>
        <div class="card-image">
          <img [src]="film.imageUrl">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ film.nom }}</p>
            <p><small>{{ film.createdAt | date:"dd/MM/yyyy" }}</small></p>
           
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <a
  class="btn-floating btn-large waves-effect waves-light red z-depth-3"
  style="position:fixed;bottom: 25px;right: 25px;"
  
  >
+
  </a>